@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

@import './reset.scss';

body {
    font-family: 'Roboto', sans-serif;
    background-color: #dddddd;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}