.statistic {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: nowrap;

    .statistic__content {
        width: 100%;
        display: flex;
        justify-content: space-around;

        .speed, .cross{
            font-size: 24px;
            font-weight: 300;
            font-weight: bold;
            margin-bottom: 30px;
            text-align: center;

            .res {
                color: red;
                font-size: 30px;
            }
        }
    }  
}