*{
    margin: 0;
    padding: 0;
}

body {
    font: 71%/1.5 Verdana, Sans-Serif;
    background: rgb(0, 0, 0);
}
#container {
    width: 830px;
}
#write {
    margin: 0 0 5px;
    padding: 10px;
    width: 790px;
    height: 300px;
    font: 1em/1.5 Verdana, Sans-Serif;
    background: rgb(0, 0, 0);
    border: 1px solid #000000;
}
#keyboard {
    margin: 0;
    padding: 0;
    list-style: none;
}
#keyboard li {
    float: left;
    margin: 0 5px 5px 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: none;
    color: rgb(255, 255, 255);
    font-size: 24px;
    border: 1px solid #f9f9f9;
}
.capslock, .tab, .left-shift {
    clear: left;
}
#keyboard .tab, #keyboard .delete {
    width: 82px;
}
#keyboard .capslock {
    width: 80px;
}
#keyboard .return {
    width: 109px;
}
#keyboard .left-shift {
    width: 115px;
}
#keyboard .right-shift {
    width: 131px;
}
.lastitem {
    margin-right: 0;
}
.uppercase {
    text-transform: uppercase;
}
#keyboard .space {
    clear: left;
    width: 823px;
}
.on {
    display: none;
}
#keyboard li:hover {
    position: relative;
    top: 1px;
    left: 1px;
    border-color: #000000;
    cursor: pointer;
}

.active {
    position: relative;
    background-color: rgb(26, 158, 0);
    top: 2px;
    left: 1px;
}

.activeYellow {
    position: relative;
    background-color: rgb(229, 233, 0);
    top: 2px;
    left: 1px;
}