*{
    margin: 0;
    padding: 0;
}

body {
    font: 71%/1.5 Verdana, Sans-Serif;
    background: #eee;
}
#container {
    width: 830px;
    margin-top: 20px;
}
#write {
    margin: 0 0 5px;
    padding: 10px;
    width: 790px;
    height: 300px;
    font: 1em/1.5 Verdana, Sans-Serif;
    background: #fff;
    border: 1px solid #f9f9f9;
}
#keyboard {
    margin: 0;
    padding: 0;
    list-style: none;
}
#keyboard li {
    float: left;
    margin: 0 5px 5px 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: rgb(94, 17, 17);
    color: #fff;
    font-size: 24px;
    border: 1px solid #f9f9f9;
}
.capslock, .tab, .left-shift {
    clear: left;
}
#keyboard .tab, #keyboard .delete {
    width: 82px;
}
#keyboard .capslock {
    width: 80px;
}
#keyboard .return {
    width: 109px;
}
#keyboard .left-shift {
    width: 115px;
}
#keyboard .right-shift {
    width: 131px;
}
.lastitem {
    margin-right: 0;
}
.uppercase {
    text-transform: uppercase;
}
#keyboard .space {
    clear: left;
    width: 823px;
}
.on {
    display: none;
}
#keyboard li:hover {
    position: relative;
    top: 1px;
    left: 1px;
    border-color: #e5e5e5;
    cursor: pointer;
}

.active {
    position: relative;
    color: rgb(43, 255, 0);
    top: 2px;
    left: 1px;
}